.outline {
    border-style: hidden;
    text-align: center;
    padding: 200px;
    margin: 20px;
}
#password {
    align-content: center;
}
.buttonposition {
    align-content: center;
}
body {
    background-image: url("Pwg-background.jpg");
   }

h1 {
    font-size: 50px;
    color: Violet;
}

h2 {
    color: lightblue;
}
form {
    text-align:left;
    margin-left: 350px;
    color:  rgb(45, 2, 114);
    font-size: larger;
}

h3 {
    color: rgb(6, 232, 248);
    font-size: x-large;
}

